* {
  font-family: monospace, serif, sans-serif;
}
.img-div {
  background-image: url("./assets/slot-machine-bg.jpg");
  height: 200px;
  width: 400px;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
.holder {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.number {
  font-size: 50px;
  margin: 23px;
  padding-bottom: 10px;
}